<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="cacheManager" type="CacheManager.Core.Configuration.CacheManagerSection, CacheManager.Core" />
    <section name="cacheManager.Redis" type="CacheManager.Redis.RedisConfigurationSection, CacheManager.StackExchange.Redis" />
  </configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/></startup>

  <cacheManager.Redis xmlns="http://cachemanager.michaco.net/schemas/RedisCfg.xsd">
    <connections>
      <connection id="redisAppConfig" allowAdmin="true" password="laicai88.com" ssl="false" sslHost="" connectionTimeout="11" database="0">
        <endpoints>
          <endpoint host="192.168.1.55" port="7000" />
          <endpoint host="192.168.1.55" port="700" />
        </endpoints>
      </connection>
    </connections>
  </cacheManager.Redis>
  
  <cacheManager xmlns="http://cachemanager.michaco.net/schemas/CacheManagerCfg.xsd">
    <managers>
      <cache name="c1" updateMode="Up">
        <handle name="h1" ref="memGeneric" expirationMode="None" timeout="50s" />
        <handle name="h2" ref="memObjectDefined" expirationMode="Absolute" timeout="20m" />
        <handle name="h3" ref="memGeneric" />
      </cache>
      <cache name="redisWithBackplaneAppConfig" enableStatistics="false" backplaneName="redisAppConfig" backplaneType="CacheManager.Redis.RedisCacheBackplane, CacheManager.StackExchange.Redis">
        <handle name="default" ref="memGeneric" />
        <handle name="redisAppConfig" ref="redisHandle" expirationMode="None" isBackplaneSource="true" />
      </cache>
      <cache name="redisWithBackplaneAppConfigConnectionStrings" enableStatistics="false" backplaneName="redisFromConnectionStrings" backplaneType="CacheManager.Redis.RedisCacheBackplane, CacheManager.StackExchange.Redis">
        <handle name="default" ref="memGeneric" />
        <handle name="redisFromConnectionStrings" ref="redisHandle" expirationMode="None" isBackplaneSource="true" />
      </cache>
      <cache name="redisWithBackplaneAppConfigConnectionStringsWithDefaultDb" enableStatistics="false" backplaneName="redisFromConnectionStrings" backplaneType="CacheManager.Redis.RedisCacheBackplane, CacheManager.StackExchange.Redis">
        <handle name="default" ref="memGeneric" />
        <handle name="redisFromConnectionStringsWithDefaultDb" ref="redisHandle" expirationMode="None" isBackplaneSource="true" />
      </cache>
    </managers>
    <cacheHandles>
      <handleDef id="memGeneric" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching" defaultExpirationMode="Sliding" defaultTimeout="20h" />
      <handleDef id="memObjectDefined" type="CacheManager.SystemRuntimeCaching.MemoryCacheHandle`1, CacheManager.SystemRuntimeCaching" defaultExpirationMode="Sliding" defaultTimeout="20h" />
      <handleDef id="redisHandle" type="CacheManager.Redis.RedisCacheHandle`1, CacheManager.StackExchange.Redis" defaultExpirationMode="Absolute" defaultTimeout="5m" />
    </cacheHandles>
  </cacheManager>
  
</configuration>
